@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-image: url("/assets/girlwithjean.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  height: 500px;
}

/* This CSS applies ONLY to screens 1024px wide or larger */
@media screen and (min-width: 1024px) {
 .hero {
  background-position: center;
  background-size: cover;
  height: 100vh;
}
}

.section-padding {
  padding-left: 25px;
}

.md-p {
  padding-left: 20px;
  padding-right: 20px;
}

.sm-p {
  padding-left: 10px;
  padding-right: 10px;
}

/* Targets tablets in portrait and landscape up to small laptops */
@media (min-width: 768px) {
  /* Your tablet-specific CSS here */
  .section-padding {
  padding-left: 0px;
}
}
